.card-wrapper {
    align-content: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 440px;
}
.card-container {
    background-color: #f8f9fa;
    border: none;
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.card-img-wrapper {
    align-content: center;
    display: flex;
    height: 222px;
    justify-content: center;
}
.card-img-container {
    align-content: center;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.card-img {
    border-radius: 90px;
    margin: auto 0;
    max-height: 192px;
    width: auto;
    max-width: 300px;
}
.card-body-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 1.25rem;
}
.card-body-title {
    font-size: 1.45rem;
    margin-bottom: .75rem;
    text-align: center;
}
.card-body-text {
    font-size: 1rem;
    margin-bottom: .75rem;
    text-align: center;
}
.card-body-badges-wrap {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-body-badges {
    background-color: #353535;
    border-radius: 5px;
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 7px;
    margin-right: 7px;
    padding: 3px;
    white-space: nowrap;
}

