.page-wrapper-projects {
    margin: 0 auto;
    max-width: 1050px;
}
.project-cards-container {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 20px;
}
