.footer-container {
    align-items: center;
    background-color: #1c2237;
    color: #ffffff;
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin: 40px auto 0 auto;
    padding: 0 30px;
    width: 100%;
}

.website-rights {
white-space: nowrap;
}

.social-media {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}
.social-media a {
    align-items: center;
    display: flex;
}

.social-icon-link {
    color: #fff;
    font-size: 32px;
}
.linkedin-icon:hover {
    color: #0e76a8;
}
.github-icon:hover {
    color: #999999;
}
.facebook-icon:hover {
	color: #4267B2;
}
.youtube-icon:hover {
    color: #ff0000;
}

.footer-logo {
	font-size: 1.2rem;
	white-space: nowrap;
}
.footer-logo-icon {
	margin-right: 0.3rem;
}

@media screen and (max-width: 650px) {
	.footer-container {
		flex-direction: column;
	}
	.social-media {
		display: flex;
		align-items: center;
		width: 188px;
		margin-bottom: 12px;
		margin-top: 3px;
	}
	.social-icon-link {
		font-size: 25px;
	}
	.footer-logo {
		display: none;
	}
	.website-rights {
		margin-top: 12px;
	}
}
