.App {
    text-align: center;
}

.App-header {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

.App-main {
    background-color: #eeeeee;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-footer {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
